body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #facaca;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table {
    width: 70%;
    border-collapse: collapse;
    border: 2px solid #000;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


thead,
tfoot {
    background-color: #a9b3f4;
    color: black;
    text-align: center;
    border: 1px solid #000;
}

tbody {
    background-color: #ffffff;
    border: 1px solid #000;
}

th,
td {
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}